[Unit]
Description=Craftoria restart timer
After=docker.service

[Timer]
# every fifth minute
OnCalendar=0/8:00:00
Persistent=true

[Install]
WantedBy=timers.target
