networks:
  caddy-proxy:
    external: true

services:
  openspeedtest:
    image: openspeedtest/latest:v2.0.6
    container_name: openspeedtest
    restart: unless-stopped
    networks:
      - caddy-proxy
    labels:
      wud.tag.include: '^\d+\.\d+\.\d+$$'
