# NOTE: this file does not work in Portainer.
# It keeps complaining about "Top-level object must be mapping"
# but the same file copy-pasted into the web editor works with no
# issue. Just run this manually.

networks:
  searxng:
    driver: bridge
  caddy-proxy:
    external: true

volumes:
  searxng-data: {}
  valkey-data2: {}

services:
  valkey:
    container_name: searxng-valkey
    image: ghcr.io/valkey-io/valkey:9-alpine
    command: valkey-server --save 30 1 --loglevel warning
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "valkey-cli ping | grep PONG" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s
    networks:
      - searxng
    labels:
      wud.tag.include: '^\d+-alpine$$'
      wud.watch.digest: true
      wud.link.template: 'https://github.com/valkey-io/valkey/releases'
    volumes:
      - valkey-data2:/data
    logging:
      driver: 'json-file'
      options:
        max-size: '1m'
        max-file: '1'

  searxng:
    container_name: searxng
    image: ghcr.io/searxng/searxng:2025.12.9-b719d559b
    restart: unless-stopped
    user: ${SEARXNG_UID:-1000}:${SEARXNG_GID:-1000}
    healthcheck:
      test: wget --quiet --tries=1 --spider http://localhost:8080/healthz || exit 1
      interval: 1m
      timeout: 30s
      retries: 5
      start_period: 2m
      start_interval: 10s
    depends_on:
      valkey:
        condition: service_healthy
    networks:
      - caddy-proxy
      - searxng
    volumes:
      - ./config:/etc/searxng:rw
      - searxng-data:/var/cache/searxng:rw
    labels:
      wud.tag.include: '^(\d+\.\d+\.\d+)-.*$$'
      wud.tag.transform: '^(\d+\.\d+\.\d+)-.*$$ => $$1'
    environment:
      - SEARXNG_BASE_URL=https://searxng.${BASE_DOMAIN:?BASE_DOMAIN is not set}/
      - SEARXNG_SECRET=${SEARXNG_SECRET:?SEARXNG_SECRET is not set, create one with 'openssl rand -hex 32'}
    logging:
      driver: 'json-file'
      options:
        max-size: '1m'
        max-file: '1'
