networks:
  caddy-proxy:
    external: true

services:
  omni-tools:
    image: iib0011/omni-tools:0.6.0
    container_name: omni-tools
    restart: unless-stopped
    healthcheck:
      test: 'curl --fail --insecure --location --silent --show-error http://localhost:80/'
      interval: 1m
      timeout: 10s
      retries: 5
      start_period: 15s
    networks:
      - caddy-proxy
    labels:
      wud.tag.include: '^\d+\.\d+\.\d+$$'
      wud.link.template: 'https://github.com/iib0011/omni-tools/releases/tag/v$${major}.$${minor}.$${patch}'
