networks:
  caddy-proxy:
    external: true

services:
  13ft:
    container_name: 13ft
    hostname: 13ft
    healthcheck:
      # WARN: localhost does not work here
      test: wget --quiet --tries=1 --spider http://127.0.0.1:5000/
      interval: 1m
      timeout: 30s
      retries: 5
      start_period: 10s
      start_interval: 1s
    build:
      context: ./patched-fork
    restart: unless-stopped
    networks:
      - caddy-proxy
    labels:
      wud.watch: false
