networks:
  traefik-proxy:
    external: true

services:
  13ft:
    container_name: 13ft
    hostname: 13ft
    healthcheck:
      # WARN: localhost does not work here
      test: wget --quiet --tries=1 --spider http://127.0.0.1:5000/
      interval: 1m
      timeout: 30s
      retries: 5
      start_period: 10s
      start_interval: 1s
    build:
      context: ./patched-fork
    restart: unless-stopped
    networks:
      - traefik-proxy
    labels:
      traefik.enable: true
      traefik.docker.network: traefik-proxy
      traefik.http.routers.13ft.entrypoints: http
      traefik.http.routers.13ft.rule: Host(`13ft.${TRAEFIK_BASE_DOMAIN:?TRAEFIK_BASE_DOMAIN is not set}`)
      traefik.http.middlewares.13ft-https-redirect.redirectscheme.scheme: https
      traefik.http.routers.13ft.middlewares: 13ft-https-redirect
      traefik.http.routers.13ft-secure.entrypoints: https
      traefik.http.routers.13ft-secure.rule: Host(`13ft.${TRAEFIK_BASE_DOMAIN:?TRAEFIK_BASE_DOMAIN is not set}`)
      traefik.http.routers.13ft-secure.tls: true
      traefik.http.routers.13ft-secure.tls.certresolver: cloudflare
      traefik.http.routers.13ft-secure.service: 13ft

      traefik.http.routers.13ft-secure.middlewares: default-security-headers@file,strict-csp@file

      traefik.http.services.13ft.loadbalancer.server.port: 5000

      wud.watch: false
