{
	admin 0.0.0.0:2019

	metrics

	servers {
		client_ip_headers X-Forwarded-For X-Real-IP

		trusted_proxies static private_ranges
		trusted_proxies_strict
	}
}

(default-headers) {
	header {
		Referrer-Policy "strict-origin-when-cross-origin"
		Strict-Transport-Security "max-age=3153600; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Forwarded-Proto "https"
		X-Frame-Options "DENY"
		X-Frame-Options "sameorigin"
		X-Robots-Tag "none,noarchive,nosnippet,notranslate,noimageindex,"
		X-XSS-Protection 1
	}
}

(strict-csp) {
	header {
		Content-Security-Policy "
          default-src 'self' *.{$BASE_DOMAIN};
          frame-ancestors 'none';
          img-src 'self' *.{$BASE_DOMAIN} blob: data:;
          object-src 'none';
          script-src 'self' *.{$BASE_DOMAIN};
          style-src 'self' *.{$BASE_DOMAIN};
      "
	}
}

(unsafe-csp) {
	header {
		Content-Security-Policy "
          default-src 'self' *.{$BASE_DOMAIN} https: data: blob:;
          frame-ancestors 'none';
          object-src 'none';
          script-src 'self' *.{$BASE_DOMAIN} 'unsafe-inline' 'unsafe-eval';
          style-src 'self' *.{$BASE_DOMAIN} 'unsafe-inline';
      "
	}
}

import /etc/caddy/caddy-confs/active/*.caddy
